<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <div>
        {{#if true}}
            <p>{{val}}</p>
        {{/each}}
        
            <p>There are no documents available at this time</p>
        
        </div>
    </body>
</html>