<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Faacto </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="css/circle.css" >

	
  </head>
  <body>
    <nav class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
    			<div class="col-lg-2 pr-4 align-items-center" >
		    		<img src="images/logo-faacto.png" height="75" width="150" ></img>
	    		</div>
	    		<div class="col-lg-10 d-none d-md-block">
					<!-- 
						##############################
						HEADER  id = "header"
						#############################
					-->
		    		<div class="row d-flex" id="header"> 
			    		<div class="col-md-4 pr-4 d-flex topper align-items-center">
			    			<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
							
							<span class="text">Address: {{db_result.header.address}}</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>

							<span class="text">Email: {{db_result.header.email}}</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
		
							<span class="text" >Phone: {{db_result.header.phone}}</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </nav>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <p class="button-custom order-lg-last mb-0 mr-2">
			  	<button class="btn btn-secondary py-2 px-3">
					Cart
				  	<span class="fa fa-shopping-basket "></span>
				</button>
			  <!--
			  	<a href="http://localhost:5000/appointment" class="btn btn-secondary py-2 px-3">
					  Book Consultation
				</a>
				-->
		  </p>
		  
		  
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="#" class="nav-link pl-0">Home</a></li>
				<li class="nav-item"><a href="http://localhost:5000/shop" class="nav-link">Shop</a></li>
	        	<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        						<a class="dropdown-item" href="http://localhost:5000/listfounders">About The Founders</a>
          						<a class="dropdown-item" href="http://localhost:5000/ourstory">Our Story</a>
          						<a class="dropdown-item" href="http://localhost:5000/ourtech">Our Technology</a>
          						<a class="dropdown-item" href="http://localhost:5000/#howitworks">How It Works</a>
        				</div>
				</li>
	        	<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Services
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        						<a class="dropdown-item" href="#">Sports</a>
          						<a class="dropdown-item" href="#">Performance Wellness</a>
								<a class="dropdown-item" href="#">DIABITIES</a>
        				</div>
				</li>
	        	<li class="nav-item"><a href="http://localhost:5000/pricing" class="nav-link">Pricing</a></li>
	        	<li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
	          	<li class="nav-item"><a href="http://localhost:5000/contact" class="nav-link">Contact</a></li>
				<li class="nav-item"><a href="http://localhost:5000/login" class="nav-link">Login</a></li>
			  
        	 </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
	
    
    <section class="home-slider owl-carousel">

	{{#each this.db_result.Slider.data}}
      <div class="slider-item" style="background-image:url({{img_url}});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 text ftco-animate">
            <h1 class="mb-4" >{{caption_text1}} <span style="color:#FFFAFA">{{caption_text2}}</span></h1>
            <h3 class="subheading" style="color:#FFFAFA">{{tagline}}</h3>
            <p><a href="http://localhost:5000/appointment" class="btn btn-secondary px-4 py-3 mt-3">Book Consultation</a></p>
          </div>
        </div>
        </div>
      </div>
	{{/each}}

    </section>

    <section class="ftco-services ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="material-icons">bar_chart</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">7 Lakh Data Points</h3>
                <p>Faacto experts narrow down specific nutrients using your DNA that amplify your growth by at least 30%.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="material-icons">grade</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Personalized Health Guidance</h3>
                <p>Take your fitness game to a whole new level with a workout plan designed to compliment your genetic makeup..</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="material-icons">child_care</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Saliva Based Test</h3>
                <p>Faacto makes sure that your little one stays in shape at all times and is ready for the upcoming challenges of life.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="material-icons">assignment_turned_in</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">99.9% Accuracy</h3>
                <p>Connect with highly qualified industry experts and find answers to all your queries & concerns within 24 hours.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>

		<section class="ftco-section" >
    	<div class="container" >
    		<div class="row justify-content-center mb-5 pb-2">
          		<div class="col-md-8 text-center heading-section ftco-animate">
						<span class="subheading">What we understood so far</span>
            			<h2 class="mb-4">About Indian Genetics</h2>
          		</div>
        	</div>
			<div class="ftco-departments" >
				<div class="row">
				{{#each this.db_result.healthinsights.data}}
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
						<center>
							<div class="c100 p{{percentage}} {{color}}">
  								<span>{{percentage}}%</span>
  								<div class="slice">
    								<div class="bar"></div>
    								<div class="fill"></div>
  								</div>
							</div>
						</center>
							 <div class="m-4">
								 <p align="left" style="font-size:large;color:black;font-weight:600;">
										{{text}}
								</p>
							</div>
					</div>
				{{/each}}
						
				</div>
			</div>
		</div>
	 </section>

		<section class="ftco-section bg-light">
    	<div class="container" >
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
			<span class="subheading">SOMETHING INTERESTING</span>
            <h2 class="mb-4">We're In The News...For Good Reasons</h2>
          </div>
        </div>
    		<div class="ftco-departments" >
				<div class="row">
				{{#each this.db_result.inthenews.data}}
				<div class="col-md-4 col-xs-12 col-lg-4 col-sm-12 mt-5">
					<h5 style="color: grey;text-align:center">{{quote}}</h5>
					<br />
					<center>
						<img src={{image}} />
					</center>
				</div>
				{{/each}}
				</div>
			</div>
		</div>
	 </section>

	 
		
		<section class="ftco-section ftco-no-pt ftc-no-pb" id="about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(images/img-become.png);">
					</div>
					<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
	          <div class="heading-section mb-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading">About FAACTO</span>
		            <h2 class="mb-4" style="font-size: 28px;">Why Take the FAACTODNA Test ?</h2>
	            </div>
	          </div>
	          <div class="pl-md-5 ml-md-5 mb-5">
							<p>Faacto offers Meal plans, personal coaching, recipes, and support community, Videos for its members to help its members maintan high quality health and have a great life.</p>
							<div class="row mt-5 pt-2">
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
										<div class="text">
											<h3>Scientific Insights</h3>
											<p>Choose your premium plan based on your specific fitness goals and dive into the genetic side of the fitness world.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span><img color="blue" src="images/study.svg" width="40" height="40" /></span></div>
										<div class="text">
											<h3>Disease Prevention and Management</h3>
											<p>Get a DNA test with your premium plan and gain access to the unique needs of your body.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span><img color="blue" src="images/expert.svg" width="40" height="40" /></span></div>
										<div class="text">
											<h3>Personalized Health Guidance</h3>
											<p>Can’t afford a dietician, weight loss expert and your own personal fitness trainer? Start premium and get all the guidance you need.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="material-icons">create</span></div>
										<div class="text">
											<h3>Once a Lifetime Test</h3>
											<p>Tune your fitness and workout plans accurately according to your progress and lifestyle changes.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>Get Weight loss and dieting guidance worth Rs.599/- for Free.Become a Member Today!</h2>
						<p class="mb-0">Meal plans, personal coaching, recipes, and support community, Videos.</p>
						<p></p>
					</div>
					<div class="col-md-3 d-flex align-items-center">
						<p class="mb-0"><a href="http://localhost:5000/appointment" class="btn btn-secondary px-4 py-3">Book Consutation</a></p>
						
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section" id="tests">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Tests</span>
            <h2 class="mb-4">DIFFERENT TYPES OF TESTS</h2>
         <p>Faacto Conducts different types of tests on your dna to personalize the service  your body requires.</p>
          </div>
        </div>
    		<div class="ftco-departments">
			<div class="row">
            <div class="col-md-12 nav-link-wrap">
	            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Vital - Essential</a>

	              <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Health</a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Family Planning</a>

	              <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Premium</a>

	              <a class="nav-link ftco-animate" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-5" aria-selected="false"></a>

		
	            </div>
	          </div>
	          <div class="col-md-12 tab-wrap">
	            
	            <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

	              <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url(images/vitalPackage.png);"></div>
	              		</div>
	              		<div class="col-lg-8">
	              			<h2>Vital DNA Test</h2>
	              			<p>Faacto Vital is designed for those who seek actionable insights to optimise their diet, nutrient, fitness routines, and overall wellness.</p>
											<div class="row mt-5 pt-2">

												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-restaurant"></span></div>
														<div class="text">
															<h3>15 Diet Reports</h3>
															<p>A balanced diet is important because your organs and tissues need proper nutrition to work effectively. </p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
														<div class="text">
															<h3>20 Nutrition Reports</h3>
															<p>Good nutrition is an important part of leading a healthy lifestyle. Combined with physical activity will promote your overall health.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
														<div class="text">
															<h3>18 Sports & Fitness Reports</h3>
															<p>Regular exercise and physical activity promotes strong muscles and bones. It improves respiratory, cardiovascular health, and overall health.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
														<div class="text">
															<h3>15 Ancestry Reports</h3>
															<p>Knowing the health issues your ancestors dealt with will allow you to be aware of the risks you have of developing the same problems, and you can talk to your doctor about better preventing them.</p>
														</div>
													</div>
												</div>
												
											</div>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url(images/healthPackage.png);"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Health Package</h2>
	              			<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
														<div class="text">
															<h3>Primary Care</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
														<div class="text">
															<h3>Lab Test</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
														<div class="text">
															<h3>Symptom Check</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
														<div class="text">
															<h3>Heart Rate</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url(images/familyPackage.png);"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Family Package</h2>
	              			<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
														<div class="text">
															<h3>Primary Care</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
														<div class="text">
															<h3>Lab Test</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
														<div class="text">
															<h3>Symptom Check</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
														<div class="text">
															<h3>Heart Rate</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url(images/PremiumPackage.png);"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Premium Package</h2>
	              			<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
														<div class="text">
															<h3>Primary Care</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
														<div class="text">
															<h3>Lab Test</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
														<div class="text">
															<h3>Symptom Check</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
														<div class="text">
															<h3>Heart Rate</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url(images/dept-5.jpg);"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Cardiology Deparments</h2>
	              			<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
											<div class="row mt-5 pt-2">
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
														<div class="text">
															<h3>Primary Care</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
														<div class="text">
															<h3>Lab Test</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
														<div class="text">
															<h3>Symptom Check</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
														<div class="text">
															<h3>Heart Rate</h3>
															<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>


	<section class="ftco-section ftco-no-pt">
    	<div class="container" >
    		<div class="row justify-content-center mb-5 pb-2">
         	 	<div class="col-md-8 text-center heading-section ftco-animate">
					<span class="subheading">Faacto</span>
            		<h2 class="mb-4">What Sets FaactoDNA Apart</h2>
          		</div>
        	</div>
			<div class="row">
				<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
          				<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span><img color="blue" src="images/study.svg" width="40" height="40" /></span></div>
										
										<div class="text">
											<h3>The World’s Most Comprehensive Test</h3>
											<p>Discover up to 500 reports across 20 categories</p>
										</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2"></div>
					<div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
          				<div class="services-2 d-flex">
							
										<div class="text">
											<h3>Complimentary 1-1 Consultation</h3>
											<p>Speak with our genetics-trained health professionals</p>
										</div>
										<div class="icon mt-2 ml-3 d-flex justify-content-center align-items-center"><span class="material-icons">bubble_chart</span></div>
						</div>
					</div>
					<div class="col-md-1 col-lg-1"></div>
				</div>
				</div>

				<div class="col-md-12 col-lg-12">

				<div class="row">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
          				<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
											<span class="material-icons">assignment_turned_in</span>
										</div>
										
										<div class="text">
											<h3>99.9% Accuracy Externally Validated</h3>
											<p>Tests validated by the Croucher Laboratory of Human Genomics</p>
										</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2"></div>
					<div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
          				<div class="services-2 d-flex">
							
										<div class="text">
											<h3>Private and Secure</h3>
											<p>Your data is never sold or shared. Leading ISO-27001 data security standard</p>
										</div>
										<div class="icon mt-2 ml-3 d-flex justify-content-center align-items-center"><span class="material-icons">lock</span></div>
						</div>
					</div>
					<div class="col-md-1 col-lg-1"></div>
				</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section" id="howitworks"  style="background-color: #f2f2f2;">
    	<div class="container" >
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
			<span class="subheading">DNA TEST</span>
            <h2 class="mb-4">How Does it Work?</h2>
          </div>
        </div>
    		<div class="ftco-departments" >
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
						<center>
							<img src="images/ActivateSample.png" class="img-rounded" style="height: 80%;width:80%"/>
							<div class="mt-5 mb-5">
								<h6 style="text-align: center;font-weight:bolder;color:red">Fill in Details in TRF form</h6>
								<h6 style="text-align: center;font-weight:bolder;color:red">provided in the Faacto Kit</h6>
							</div>
						</center>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
						<center>
							<img src="images/CollectSample.png" class="img-rounded" style="height: 100%;width:80%"/>
							<div class="mt-5 mb-5">
								<h6 style="text-align: center;font-weight:bolder;color:red">Collect your saliva Sample,</h6>
								<h6 style="text-align: center;font-weight:bolder;color:red">in the tube provided</h6>
							</div>
						</center>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
						<center>
							<img src="images/ReturnSample.png" class="img-rounded" style="height: 100%;width:80%"/>
							<div class="mt-5 mb-5">
								<h6 style="text-align: center;font-weight:bolder;color:red">Call/Message us on our app</h6>
								<h6 style="text-align: center;font-weight:bolder;color:red">to get your sample Collected</h6>
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</section>
		
		<section class="ftco-section" id="services">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-4">What we Provide ?</h2>
            <p>“Not many understand how personal fitness & health actually is, it’s as personal as it gets. You carry yourself around with more confidence and pride when you’re fit. Faacto is the epitome of personalization and it is purely built for masses” - Akhilesh Bagaria & Vaibhav Bhandari, founders of Faacto</p>
          </div>
        </div>	
				<div class="row">

					{{#each this.db_result.whatweprovide.data}}
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({{img_url}});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>{{title}}</h3>
								<br />
								<div class="faded">
									<p>{{description}}</p>

	              				</div>
							</div>
						</div>
					</div>
					{{/each}}
					
							
				</div>
			</div>
		</section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Don’t Just Take Our Word For it</span>
            <h2 class="mb-4">Hear What ChangeMakers Worldwide Have to Say</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel">

			{{#each this.db_result.testimonial.data}}
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({{img_url}})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>{{text}}</p>
                    <p class="name">{{name}}</p>
                    <span class="position">{{designation}}</span>
                  </div>
                </div>
              </div>
			{{/each}}
             
              
            </div>
          </div>
        </div>
      </div>
    </section>

    



	<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Our Advisors</span>
            <h2 class="mb-4">Our Qualified Advisors</h2>
            <p>We have the most experienced advisors who help us increase our potential to serve you better</p>
          </div>
        </div>	
				<div class="row">
					{{#each this.db_result.advisors_data}}
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({{image_url}});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>{{name}}</h3>
								<span class="position mb-2">{{designation}}</span>
								<div class="faded">
									<p>{{description}}</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="{{twitter}}"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="{{facebook}}"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="{{google_plus}}"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="{{instagram}}"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Partners</span>
            <h2 class="mb-4">Our Partners</h2>
            <p>We have the most experienced partners who help us increase our potential to serve you better</p>
          </div>
        </div>	
				<div class="row">
					{{#each this.db_result.parters_data}}
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({{image_url}});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>{{name}}</h3>
								<span class="position mb-2">{{designation}}</span>
								<div class="faded">
									<p>{{description}}</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="{{twitter}}"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="{{facebook}}"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="{{google_plus}}"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="{{instagram}}"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Frequently Asked Questions</span>
            <h2 class="mb-4">FAQ's</h2>
            <p></p>
          </div>
        </div>	
				<!-- Accordion -->
<div class="container-fluid bg-gray" id="accordion-style-1">
	<div class="container">
		<section>
			<div class="row">
				<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
				{{#each this.db_result.faq.data}}
                <div class="card">
                    <div class="card-header p-2" id="heading{{id}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
                              Q: {{question}}
                            </button>
                          </h5>
                    </div>

                    <div id="collapse{{id}}" class="collapse show" aria-labelledby="heading{{id}}" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> {{answer}}
                        </div>
                    </div>
                </div>
				{{/each}}
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--container-->

			</div>
		</section>
	</div>
</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section bg-light" id="blog">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Blog</span>
            <h2 class="mb-4">Recent Blog</h2>
            <p>Learn about the genetic researches and other useful information</p>
          </div>
        </div>
				<div class="row">
		{{#each this.db_result.blogs}}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="#" class="block-20" style="background-image: url({{img_url}});">
								<div class="meta-date text-center p-2">
                  <span class="day">{{date.day}}</span>
                  <span class="mos">{{date.month}}</span>
                  <span class="yr">{{date.year}}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{title}}</a></h3>
                <p>{{first_three_line}}</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
		{{/each}}
          
          
			</div>
		</div>
		</section>


		




		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-5">
              <img src="images/logo-faacto-light.png" class="mb-2" />
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">{{this.db_result.header.address}}</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{this.db_result.header.phone}}</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{this.db_result.header.email}}</span></a></li>
	              </ul>
	            </div>

	            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="#about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                <li><a href="#services"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                <li><a href="#tests"><span class="ion-ios-arrow-round-forward mr-2"></span>Tests</a></li>
                <li><a href="#howitworks"><span class="ion-ios-arrow-round-forward mr-2"></span>How DNA Test Works</a></li>
                <li><a href="http://localhost:5000//contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-5 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
          	<div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Opening Hours</h2>
            	<h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>We are open 24/7</h3>
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Subscribe Us!</h2>
              <div class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address" id="subscribe_email_id">
                  <input type="button" onclick="subscribe()" value="Subscribe" class="form-control submit px-3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
  
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>


  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>

  <script src="js/firebase-config.js"></script>
  <script src="js/onformSubmit.js"></script>
  <script src="js/subscribe.js"></script>

 
    
  </body>
</html>