<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Faacto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
    			<div class="col-lg-2 pr-4 align-items-center">
		    		<img src="images/logo-faacto.png" height="50" width="100" ></img>
	    		</div>
	    		<div class="col-lg-10 d-none d-md-block">
		    		<div class="row d-flex">
			    		<div class="col-md-4 pr-4 d-flex topper align-items-center">
			    			<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
						    <span class="text">Address: {{db_result.header.address}}</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">Email: {{db_result.header.email}}</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">Phone: {{db_result.header.phone}}</span>
					    </div>
				    </div>
			    </div>
		    </div>
		</div>
    </nav>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
        <p class="button-custom order-lg-last mb-0 mr-2">
			  	<button class="btn btn-secondary py-2 px-3">
					Cart
				  	<span class="fa fa-shopping-basket "></span>
				</button>
			  <!--
			  	<a href="http://localhost:5000/appointment" class="btn btn-secondary py-2 px-3">
					  Book Consultation
				</a>
				-->
		  </p>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item"><a href="http://localhost:5000/" class="nav-link pl-0">Home</a></li>
				    <li class="nav-item"><a href="http://localhost:5000/shop" class="nav-link">Shop</a></li>
	        	<li class="nav-item"><a href="http://localhost:5000/#about" class="nav-link">About</a></li>
	        	<li class="nav-item"><a href="http://localhost:5000/#services" class="nav-link">Services</a></li>
	        	<li class="nav-item"><a href="http://localhost:5000/pricing" class="nav-link">Pricing</a></li>
	        	<li class="nav-item"><a href="http://localhost:5000/#blog" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="http://localhost:5000/contact" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="http://localhost:5000/login" class="nav-link">Login</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section  class="hero-wrap hero-wrap-2" style="background-image: url('https://previews.123rf.com/images/bluebay/bluebay1712/bluebay171200182/90941284-dna-structure-on-abstract-digital-background-3d-illustration.jpg');" data-stellar-background-ratio="0.5">
      
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          
        </div>
      </div>
    </section>

    <style>
        .title{
            font-weight: bolder;
        }
        .fit-image{
            width: 100%;
            object-fit: cover;
        }
    </style>
    

    <section class="ftco-section  contact-section " id="message">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
          		<div class="col-md-8 text-center heading-section ftco-animate">
						<span class="subheading">The Best in DNA Research And Development Technology</span>
            			<h2 class="mb-4">Our Technology</h2>
          		</div>
        	</div>
            <div class="row mt-4">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <img class="img-founder fit-image img-rounded" src="https://flatiron.com/wp-content/uploads/2017/04/DSCF7469-541x632.jpg" />
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div>
                        <h4 class="title">Multiverse Technology</h4>
                    </div>
                    <div class="mt-3">
                                                             <p>In 1972, PES was founded in Bangalore with just over 40 students. Today, we have more than 18,000 students spread across four different campuses in Karnataka and Andhra Pradesh.</p>                                                 
                                                            <p>We create opportunities not just for young people to learn, but also for them to experience the fulfillment that comes from sharing this learning with others. At PES, we will always be focused on delivering education that will help create the leaders of tomorrow’s world – men and women who will not just be successful in their individual capacities, but who will in turn, contribute to and nurture the world they live in.</p>  
                                                           
                                                            <p>We create opportunities not just for young people to learn, but also for them to experience the fulfillment that comes from sharing this learning with others. At PES, we will always be focused on delivering education that will help create the leaders of tomorrow’s world – men and women who will not just be successful in their individual capacities, but who will in turn, contribute to and nurture the world they live in.</p>                       
                                                                                  
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div>
                        <h4 class="title">Supernova Technology</h4>
                    </div>
                    <div class="mt-3">
                                                             <p>In 1972, PES was founded in Bangalore with just over 40 students. Today, we have more than 18,000 students spread across four different campuses in Karnataka and Andhra Pradesh.</p>                                                 
                                                            <p>We create opportunities not just for young people to learn, but also for them to experience the fulfillment that comes from sharing this learning with others. At PES, we will always be focused on delivering education that will help create the leaders of tomorrow’s world – men and women who will not just be successful in their individual capacities, but who will in turn, contribute to and nurture the world they live in.</p>  
                                                            <p>In 1972, PES was founded in Bangalore with just over 40 students. Today, we have more than 18,000 students spread across four different campuses in Karnataka and Andhra Pradesh.</p>                                                 
                                                            <p>We create opportunities not just for young people to learn, but also for them to experience the fulfillment that comes from sharing this learning with others. At PES, we will always be focused on delivering education that will help create the leaders of tomorrow’s world – men and women who will not just be successful in their individual capacities, but who will in turn, contribute to and nurture the world they live in.</p>                       
                                                                                  
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <img class="img-founder fit-image img-rounded" src="https://flatiron.com/wp-content/uploads/2017/04/DSCF7469-541x632.jpg" />
                </div>
            </div>
        </div>
	</section>

    <script>
        window.location.hash = "message"
    </script>
		
		

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-2">
                <div class="ftco-footer-widget mb-5">
                    <img src="images/logo-faacto-light.png" class="mb-2" />
                </div>
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">{{data.address}}</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{data.phone}}</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{data.email}}</span></a></li>
	              </ul>
	            </div>

	            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="http://localhost:5000/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="http://localhost:5000/#about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                <li><a href="http://localhost:5000/#services"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                <li><a href="http://localhost:5000/#tests"><span class="ion-ios-arrow-round-forward mr-2"></span>Tests</a></li>
                <li><a href="http://localhost:5000/#howitworks"><span class="ion-ios-arrow-round-forward mr-2"></span>How DNA Test Works</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-5 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
          	<div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Opening Hours</h2>
            	<h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>We are open 24/7</h3>
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Subscribe Us!</h2>
              <div class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address" id="subscribe_email_id">
                  <input type="button" value="Subscribe" class="form-control submit px-3" onclick="subscribe()">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

   <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-functions.js"></script>

  <script src="js/firebase-config.js"></script>
  <script src="js/subscribe.js"></script>
  <script src="js/sendmessage.js"></script>
    
  </body>
</html>